/*-------------------------注册页面-----------------------*/
.register{
	padding: 5.55rem 1.125rem 0;
}
.register_list{
	padding-bottom: 2.5rem;
	font-size: 0.8rem;
}
.register_list li{
	position: relative;
	margin-bottom: 0.5rem;
	overflow: hidden;
	color: #ECECEC;
}
.register_list li span{
	position: absolute;
	top: 0.65rem;
	left: 1rem;
	font-size: 0.8rem;
	color: #ECECEC;
}
.register_list li:first-child span{
	font-size: 1rem;
}
.register_list li input{
	padding-left: 2.825rem;
	height: 2.25rem;
	line-height: 2.25rem;
	width: 100%;
	font-size: 0.8rem;
	border-radius: 1.5rem !important;
	background: rgba(255,255,255,0.12) !important;
}
.register_list li input::-webkit-input-placeholder{
	font-size: 0.8rem;
	color: #ECECEC;
}
.register_list li:last-child input{
	float: left;
	width: 60%;
}
.register_list li:last-child a{
	float: right;
	display: inline-block;
	height: 2.25rem;
	line-height: 2.25rem;
	width: 35%;
	color: #ECECEC !important;
	text-align: center;
	font-size: 0.8rem;
	border-radius: 1rem !important;
	background: rgba(255,255,255,0.12) !important;
}
.register_list li:last-child a.bg{
	background: #053D7E !important;
}
.bottom_box{
	padding-top: 1.5rem;
	color: #ECECEC;
	font-size: 0.65rem;
	overflow: hidden;
}
.bottom_box>a{
	color: #ECECEC;
	font-size: 0.65rem;
}
.bottom_box>span{
	float: right;
}

.bottom_box>span>a{
	text-decoration: underline;
}
/*------------------------------收不到验证码页面--------------------------*/
.code{
	padding-top: 2rem;
}
.code_mark{
	padding: 0.85rem 0.95rem 2.075rem;
}
.code_mark h2{
	padding-bottom: 2.925rem;
	font-size: 0.9rem;
	color: #000000;
	text-align: center;
}
.code_mark ul li{
	font-size: 0.7rem;
	color: #000000;
}
.code_mark p{
	padding:1.25rem 0 2rem ;
	font-size: 0.7rem;
	color: #000000;
}
.phone{
	display: block;
	font-size: 1.05rem;
	text-align: center;
	color: #053D7E;
	font-weight: bold;
}
.dial_btn{
	margin-top: 2.725rem;
	background: #053D7E;
}
/*--------------------------------账号不存在弹框--------------------------*/
.register_mark,.login_mark{
	padding-top: 6rem;
}
.register_mark .mark,.login_mark .mark{
	margin: 0 auto;
	padding-top:0.675rem;
	width: 75%;
}
.register_mark .mark img,.login_mark .mark img{
	display: block;
	margin: 0 auto;
	width: 8.1rem;
}
.register_mark .mark p,.login_mark .mark p{
	padding: 1rem 0 2rem 0;
	text-align: center;
	color: #000000;
	font-size: 0.9rem;
}
.register_btn{
	border-top: 0.05rem solid #999999;
	
	font-size: 0.75rem;
	color: #000000;
}
.register_btn span{
	display: inline-block;
	width: 49%;
	text-align: center;
	height: 2.5rem;
	line-height: 2.5rem;
}
.begin_login{
	font-weight: bold;
	border-left: 0.05rem solid #999999;
}
/*--------------------------------------设置登录密码------------------------------*/
.login_password{
	padding: 2.175rem 1.125rem 0;
}
.login_password h2{
	padding-bottom: 2.5rem;
	font-size: 0.9rem;
	text-align: center;
	color: #FFFFFF;
}
.login_password .register_list li input{
	width: 100% !important;
}
.login_password .register_list{
	padding-bottom: 1.5rem;
}
.login_password .register_list li{
	margin-bottom: 0;
}

/*--------------------------------------登录页面---------------------------*/
.login{
	padding: 5.55rem 1.125rem 0;
}
.login .register_list li:last-child input{
	width: 100%;
}
.login .register_list li.error_border{
	border-radius: 1.5rem !important;
	border: 0.1rem solid rgba(255,0,0,.12);
	
}
.login .register_list li span.icon_close{
	display: none;
	position: absolute;
	top: 0.5rem;
	right: 1rem;
	left: inherit;
	font-size: 0.9rem;
	color: #FFFFFF;
	
}
.login .register_list li.error_border span.icon_close{
	display: block;
}
.wx_login{
	position: relative;
	margin: 2.4rem 0 1.5rem !important;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.65rem;
}
.wx_login::before{
	display: inline-block;
	content: "";
	position: absolute;
	left: -1.125rem;
	top: 0.5rem;
	width: 34%;
	height: 0.05rem;
	background: #989898;
}
.wx_login::after{
	display: inline-block;
	content: "";
	position: absolute;
	right: -1.125rem;
	top: 0.5rem;
	width: 34%;
	height: 0.05rem;
	background: #989898;
}
.icon-weixin1{
	display: block;
	text-align: center;
	font-size: 1.8rem;
	
}

/*=-------------------------找回密码设置密码*/
.getBack_password p{
	padding-top: 4.3rem;
	padding-bottom: 0.5rem;
	font-size: 0.8rem;
	color: #FFFFFF;
}
