body {
    max-width: 750px;
    font-size: 62.5%;
    margin: auto auto;
}
.container-fluid {
    color: #353535;
}

.blue-under-line {
    display: block;
    width: 2.5rem;
    height: 0.3rem;
    background-color: #00479d;
}
.created_at_block {
    margin-top: 3.2rem;
}
.created_at_block .created_at {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 0;
    color: #353535;
}
.bold {
    font-weight: bold;
}
.font26 {
    font-size: 1.3rem;
}
.font28 {
    font-size: 1.4rem;
}
.font29 {
    font-size: 1.45rem;
}
.font30 {
    font-size: 1.5rem;
}
.font32 {
    font-size: 1.6rem;
}
.blue {
    color: #00479d;
}
.black888 {
    color: #888888;
}
.color888 {
    color: #888888;
}
.color333 {
    color: #333333;
}
.color35 {
    color: #353535;
}
.color666 {
    color: #666666;
}
.user-info {
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.user-name {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 1.6rem;

}
.user-gender {
margin-left: 2rem;
}
.user-school {
    margin-bottom: 0.5rem;
}

.zc-title {
    position: relative;
    margin-bottom: 3rem;
}
.zc-title img{

}
.zc-title span {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
    font-size: 1.7rem;
    line-height: 1.6rem;
    font-weight: bold;
    color: #00479d;
}

.emphasis {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    color: #00479d;
}
.preface {
    margin-bottom: 3rem;
}
.preface p {
    font-size: 1.4rem;
    font-weight: bold;
}

.slogan {
    color: #00479d;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}
.zc-h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #00479d;
}

.contents {

}
.contents ul li {
    font-size: 1.4rem;
    font-weight: bold;

}
.radar {
    height: 40rem;
}
.bar {
    height: 40rem;
}
.zc-cat-title {
    margin-top: 7.5rem;
}
.zc-content {
    line-height: 2rem;
}
.zc-result {
    margin-top: 4.7rem;
}
.zc ul {
    margin-bottom: 6rem;
}
.zc ul li {
    list-style-type:none;
    position: relative;
    margin-left: 1.6rem;
    margin-top: 1.2rem;

}
.zc ul li i {
    display: block;
    width: 1rem;
    height: 0.15rem;
    background-color: black;
    position: absolute;
    left:-1.4rem;
    top: 0.8rem;
}
.zc p {
    position: relative;
    margin-left: 1.6rem;
    line-height: 2.4rem;

}
.zc p i {
    display: block;
    width: 1rem;
    height: 0.1rem;
    background-color: black;
    position: absolute;
    left:-1.4rem;
    top: 1.2rem;
}
.zc h1 {
    position: relative;
    margin-left: 1.6rem;
    margin-bottom: 0;
}
.zc .comment div img {
    display: block;
    width: 4.9rem;
    height: 1.1rem;
    margin-left: 1.6rem;
    margin-top: 0.6rem;
    margin-bottom: 0.9rem;
}
.zc h1 i {
    display: block;
    width: 1rem;
    height: 0.15rem;
    background-color: black;
    position: absolute;
    left:-1.6rem;
    top: 0.8rem;
}
.zc div i img {
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
}

.one-img {
    display: inline-block !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
    margin: 0 !important;
    margin-right: 0.6rem !important;
}
.zc-red {
    color: #ea1d27;
}
